<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TechBooks 2</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/js/Site.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("TechBooks 2", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Authors", "Index", "ManageAuthors", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Books", "Index", "ManageBooks", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Categories", "Index", "ManageCategories", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissable d-flex justify-content-between">
                @Html.Raw(TempData["SuccessMessage"])
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (TempData["DangerMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissable d-flex justify-content-between">
                @Html.Raw(TempData["DangerMessage"])
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" />
            </div>
        }

        @if (ViewBag.Title != "Home")
        {
            <h1><strong>@ViewBag.Title</strong></h1>
        }

        <br />

        @RenderBody()

        <br />

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
